<div class="container">
  <div class="row">
    <div class="col text-justify">
      <h1 class="text-center">Nossa História</h1>
      <p>Essa nossa história teve início muito antes deles se conhecerem. Seus avós Jayme e Brandão, assim como Dona
        Maria José e Dona Mercedes são amigos de longa data, assim como seus tios, pais, enfim, duas famílias ligadas
        pela amizade durante anos e anos. Essa proximidade fez com que frequentassem os mesmos lugares, festas, tiveram
        amigos em comum, mas impressionantemente nunca se conheceram.</p>
      <p>As coisas começaram a mudar quando um desses integrantes da família notou que os dois tinham muito em comum, e
        decidiu então falar de um para outro. Mateus muito curioso começou a seguir Liciara em uma rede social. No
        início as coisas não fluíram muito bem, até que ele já morando em São Paulo, decidiu ir a Prudente de Morais
        passar um final de semana e aproveitar para conhecê-la.</p>
      <p>Foi a primeira vez que se viram de fato, a conversa ao contrário do acontecia começou a fluir naturalmente, e
        quase que instantaneamente muitos pontos em comum realmente foram aparecendo. Foi um final de semana maravilhoso
        e divertidíssimo cheio de histórias hilárias.</p>
      <div class="row">
        <div class="col-12">
          <img class="mx-auto  img-thumbnail d-block"
            src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Nossos+Momentos/1.jpeg">
        </div>
      </div>
      <p>Mas aquilo não parou por ali, eles começaram a se falar diariamente, novos assuntos, mais coisas em comum, e de
        repente passaram a contar os dias para que os finais de semana chegassem e pudessem se ver novamente. O namoro
        era maravilhoso, a distância não interferia em nada, viajaram, curtiram, se divertiram, riram muito,
        aproveitaram cada instante juntos.
      <p>
      <div class="row">
        <div class="col-12">
          <img class="mx-auto  img-thumbnail d-block"
            src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Nossos+Momentos/5.jpeg">
        </div>
      </div>
      <p>Após quatro meses a certeza de que queriam dar um passo maior já existia, rápido né? Depende. Tem gente que
        vive uma vida do lado do outro e nunca tem certeza, as vezes a certeza vem num instante, e como num filme em que
        uma cena corta para a outra, estavam organizando mil caixas numa quitinete de 20 m², sem fogão, sem colchão,
        enfim, aquele perrengue que todo casal enfrenta no começo de tudo.</p>
      <div class="row">
        <div class="col-12">
          <img class="mx-auto  img-thumbnail d-block"
            src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Nossos+Momentos/9.jpeg">
        </div>
      </div>
      <p>Após algum tempo as coisas começaram a se normalizar, encontraram um bom apartamento, Liciara começou a
        trabalhar, criaram uma rotina nada monótona, alegre, feliz, e quando se deram conta já tinham criado um lar
        repleto de sintonia, cumplicidade e leveza.</p>
      <div class="row">
        <div class="col-12">
          <img class="mx-auto  img-thumbnail d-block"
            src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Nossos+Momentos/14.jpeg">
        </div>
      </div>
      <p>Mas essa história estava só começando!</p>
    </div>
  </div>
</div>

<hr>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">