<div class="container">
    <div class="row">
        <div class="col text-justify">
            <h1 class="text-center ">O pedido</h1>
            <p>Após alguns meses morando juntos, Mateus decidiu que era hora de um novo passo.</p>
            <p>No dia 03/10/2020, em um jantar em comemoração aos dias 03 (O dia deles!), ele fez aquela que seria a
                segunda maior surpresa da vida de Liciara, escreveu com chocolate em um prato de sobremesa aquela
                pergunta que toda mulher apaixonada quer ouvir: “Quer casar comigo?”, as lágrimas vieram e o SIM também.
            </p>
            <div class="row">
                <div class="col-12">
                    <img class="mx-auto  img-thumbnail d-block"
                        src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Nossos+Momentos/58.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">