<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img class="mx-auto img-thumbnail d-block" src="https://fotos-casamento-mateus-liciara.s3.sa-east-1.amazonaws.com/Assets/atencao.png">
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Atenção! Área restrita aos seguranças da portaria.</h1>
            <p>Você não possui privilégios de acesso.</p>
        </div>
        <div class="col-3"></div>
        
    </div>
</div>



