<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Lista de Presentes</h1>
        <p>Querido convidado, seja bem-vindo a nossa listas de presentes.
            Pensamos em tudo com muito carinho para que você se sinta à vontade para nos presentear com o que sentir vontade.
            Lembramos que o nosso maior presente é sua presença nesse dia tão especial para nós.</p>
        <p>Você pode nos presentear nos seguintes locais: é só clicar no link!!</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a href="http://finalfeliz.de/liciaraemateus" target="_blank"><img src="../../assets/magalu.png"  width="100" height="80"></a><a href="http://finalfeliz.de/liciaraemateus" target="_blank">Magazine Luiza</a></p>
            <p><a href="https://bit.ly/liciaraemateus" target="_blank"><img src="../../assets/casa-de-casa.png" width="100" height="80"></a><a href="https://bit.ly/liciaraemateus" target="_blank">Casa de Casa</a></p>
            <p><a href="https://lista.camicado.com.br/liciaraemateus" target="_blank"><img  src="../../assets/camicado.png" width="100" height="80"></a><a href="https://lista.camicado.com.br/liciaraemateus" target="_blank">Camicado</a></p>
            <p><a href= "https://www.zelo.com.br/lista-de-desejo/lista-de-casamento/produtos/4efd7bd3-be6a-44d3-ad00-18a3e863d6ed" target="_blank"><img src="../../assets/zelo.png" width="100" height="80"></a><a href= "https://www.zelo.com.br/lista-de-desejo/lista-de-casamento/produtos/4efd7bd3-be6a-44d3-ad00-18a3e863d6ed" target="_blank">Zelo</a></p>
        </div>
    </div>
</div>
